header{
    background-color: #b185a7;
}
.navbar li a{
    color: rgb(128, 223, 191);
}

.indexTitle{
    align-self: center;
    color: rgb(255, 255, 255);
    margin: 2rem;
}





main{
    background-color: rgb(46, 45, 45);
}
main .container-fluid{
    display: flex;
    justify-content: center;
    width: 90vw;
    background-color: #b185a7;
    gap: 1rem;

}

main .containerIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2rem;
    background-color: rgb(46, 45, 45);
    margin: 1rem;
    color: #b185a7;
}

main button{
    background-color: #b185a7;
    color: black;
    margin: 1rem;
}







footer{
    display: flex;
    justify-content: center;
    background-color: rgb(46, 45, 45);
}

footer h2{
    color: rgb(128, 223, 191);
    align-self: center;
}

footer ul{
    list-style: none;
}

footer li a{
    color: rgb(128, 223, 191);
    margin: 2rem;
}






/* 
tienda */




main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: rgb(46, 45, 45);
    margin: 1rem;
    color: #b185a7;
}

.card{
    margin: 2rem;
}